<div class="container text-center mt-5">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <span class="h3 text-uppercase font-weight-bold title pb-2 border-dark">Welcome</span>
    </div>
    <div class="col-lg-4">
      <button
      type="button"
      class="btn btn-light float-right"
      (click)="onClick('light')">Light theme</button>
      <button
      type="button"
      class="btn btn-dark float-right mr-3"
      (click)="onClick('secondary')">Dark theme</button>
    </div>
  </div>

  <app-products></app-products>
</div>
